In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Include required csv files

df_1 = pd.read_csv('combined_report06072021.csv', encoding='ISO-8859-1')

In [3]:
df_2 = pd.read_csv('combined_report07072021.csv', encoding='ISO-8859-1')

In [4]:
df_1.head()

  ï»¿Bhavcopy Date      Symbol Series
0        06-Jul-21   20MICRONS     EQ
1        06-Jul-21  21STCENMGM     EQ
2        06-Jul-21    SGBNOV24     GB
3        06-Jul-21    SGBNOV23     GB
4        06-Jul-21    SGBFEB24     GB

In [5]:
df_2.head()

  ï»¿Bhavcopy Date      Symbol Series
0        07-Jul-21   20MICRONS     EQ
1        07-Jul-21  21STCENMGM     EQ
2        07-Jul-21    SGBNOV24     GB
3        07-Jul-21    SGBNOV23     GB
4        07-Jul-21    SGBFEB24     GB

In [6]:
df_1.drop_duplicates(subset ='Symbol', keep = False, inplace = True)

In [7]:
df_2.drop_duplicates(subset ='Symbol', keep = False, inplace = True)

In [14]:
df = pd.merge(df_1, df_2, on=['Symbol'])
print (df)

     ï»¿Bhavcopy Date_x      Symbol Series_x ï»¿Bhavcopy Date_y Series_y
0             06-Jul-21   20MICRONS       EQ          07-Jul-21       EQ
1             06-Jul-21  21STCENMGM       EQ          07-Jul-21       EQ
2             06-Jul-21    SGBNOV24       GB          07-Jul-21       GB
3             06-Jul-21    SGBNOV23       GB          07-Jul-21       GB
4             06-Jul-21    SGBFEB24       GB          07-Jul-21       GB
...                 ...         ...      ...                ...      ...
1802          06-Jul-21   ZODJRDMKJ       BE          07-Jul-21       BE
1803          06-Jul-21        ZOTA       EQ          07-Jul-21       EQ
1804          06-Jul-21       ZUARI       EQ          07-Jul-21       EQ
1805          06-Jul-21   ZUARIGLOB       EQ          07-Jul-21       EQ
1806          06-Jul-21   ZYDUSWELL       EQ          07-Jul-21       EQ

[1807 rows x 5 columns]

In [12]:
df[(df["Series_x"]==["Series_y"])]

ValueError: ('Lengths must match to compare', (1807,), (1,))