## Pyspark code to extract data from hadoop into dataframes and export onto S3 ##

In [1]:
##Importing required libraries
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

VBox()

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [9]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType, TimestampType

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [10]:
##creating a custom schema based on incoming file. columnOrder also needs to be maintained
columns = StructType([StructField('year', IntegerType(),True),
                        StructField('month', StringType(),True),
                        StructField('day', IntegerType(),True),
                        StructField('weekday', StringType(),True),
                        StructField('hour', IntegerType(),True),
                        StructField('atm_status', StringType(),True),
                        StructField('atm_id', StringType(),True),
                        StructField('atm_manufacturer', StringType(),True),
                        StructField('atm_location', StringType(),True),
                        StructField('atm_streetname', StringType(),True),
                        StructField('atm_street_number', IntegerType(),True),
                        StructField('atm_zipcode', IntegerType(),True),
                        StructField('atm_lat', DoubleType(),True),
                        StructField('atm_lon', DoubleType(),True),
                        StructField('currency', StringType(),True),
                        StructField('card_type', StringType(),True),
                        StructField('transaction_amount', IntegerType(),True),
                        StructField('service', StringType(),True),
                        StructField('message_code', StringType(),True),
                        StructField('message_text', StringType(),True),
                        StructField('weather_lat', DoubleType(),True),
                        StructField('weather_lon', DoubleType(),True),
                        StructField('weather_city_id', IntegerType(),True),
                        StructField('weather_city_name', StringType(),True),
                        StructField('temp', DoubleType(),True),
                        StructField('pressure', IntegerType(),True),
                        StructField('humidity', IntegerType(),True),
                        StructField('wind_speed', IntegerType(),True),
                        StructField('wind_deg', IntegerType(),True),
                        StructField('rain_3h', DoubleType(),True),
                        StructField('clouds_all', IntegerType(),True),
                        StructField('weather_id', IntegerType(),True),
                        StructField('weather_main', StringType(),True),
                        StructField('weather_description', StringType(),True),
                        ])

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
##read csv from user/livy folder with custom schema
df=spark.read.csv("/user/livy/SRC_ATM_TRANS/part-m-00000", header = True, schema=columns)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [12]:
##show a few rows to validate the csv import
df.show(5)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
|2017|January|  1| Sunday|   0|    Active|     5|             NCR|        Nibe|             Torvet|                1|       9240| 56.983|  9.639|     DKK|MasterCard|              3269|Withdrawal|        null|        null|     56.981|      9.639|        2616483|             Nibe|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [13]:
### Validating Counts
df.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468571

In [14]:
DIM_CARD_TYPE_raw=df.select("card_type").distinct()
DIM_CARD_TYPE_raw.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

12

In [59]:
DIM_DATE_raw=df.select("year","month","day","hour","weekday").distinct()
DIM_DATE_raw.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

8685

In [15]:
DIM_ATM_raw=df.select("atm_id","atm_manufacturer","atm_location","atm_streetname","atm_lat","atm_lon").distinct()
DIM_ATM_raw.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

113

In [19]:
DIM_LOCATION_raw=df.select("atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon").distinct()
DIM_LOCATION_raw.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

109

In [20]:
FACT_ATM_TRANS_raw=df.select("year","month","day","hour","card_type","atm_id","atm_manufacturer","atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon","atm_status","currency","service","transaction_amount","message_code","message_text","rain_3h","clouds_all","weather_id","weather_main","weather_description")
FACT_ATM_TRANS_raw.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468571

In [21]:
### RENAME atm_id to atm_number. atm_id will be generated later.
DIM_ATM_renamed = DIM_ATM_raw.withColumnRenamed("atm_id","atm_number")
FACT_ATM_TRANS_raw=FACT_ATM_TRANS_raw.withColumnRenamed("atm_id","atm_number")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [60]:
### generate *_id's 
from pyspark.sql.functions import desc, row_number, monotonically_increasing_id
from pyspark.sql.window import Window
DIM_DATE = DIM_DATE_raw.withColumn('date_id', row_number().over(Window.orderBy(monotonically_increasing_id())))
DIM_CARD_TYPE = DIM_CARD_TYPE_raw.withColumn('card_id', row_number().over(Window.orderBy(monotonically_increasing_id())))
DIM_ATM = DIM_ATM_renamed.withColumn('atm_id', row_number().over(Window.orderBy(monotonically_increasing_id())))
DIM_LOCATION = DIM_LOCATION_raw.withColumn('location_id', row_number().over(Window.orderBy(monotonically_increasing_id())))
FACT_ATM_TRANS = FACT_ATM_TRANS_raw.withColumn('trans_id', row_number().over(Window.orderBy(monotonically_increasing_id())))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [46]:
DIM_DATE.show(100)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+--------+---+----+-------+
|year|   month|day|hour|date_id|
+----+--------+---+----+-------+
|2017| January| 23|   2|      1|
|2017|February| 26|   8|      2|
|2017|   March| 12|  13|      3|
|2017|   March| 14|  21|      4|
|2017|   March| 21|   7|      5|
|2017| January| 28|  23|      6|
|2017|February| 14|  10|      7|
|2017| January|  1|   6|      8|
|2017| January| 25|  13|      9|
|2017|February| 17|  22|     10|
|2017|February| 21|  23|     11|
|2017|   March| 28|  23|     12|
|2017|   March| 31|  18|     13|
|2017|   March| 23|  16|     14|
|2017|   March| 21|  21|     15|
|2017|   March| 27|  22|     16|
|2017|   March| 28|  10|     17|
|2017|   March| 31|   0|     18|
|2017|   March| 13|  23|     19|
|2017|February| 26|  20|     20|
|2017|   March|  4|  10|     21|
|2017|   March|  7|   3|     22|
|2017|February|  4|  23|     23|
|2017|February|  9|   3|     24|
|2017|February|  9|  10|     25|
|2017|   March|  3|  16|     26|
|2017|   March|  4|  11|     27|
|2017|   March| 21|   4|     28|
|2017| January| 22|  12|     29|
|2017|February| 26|  14|     30|
|2017|February| 21|   0|     31|
|2017|   March|  3|  15|     32|
|2017|February| 26|  12|     33|
|2017|February|  2|  18|     34|
|2017|February|  9|  19|     35|
|2017|   April|  3|   1|     36|
|2017| January|  4|   1|     37|
|2017|February| 15|   4|     38|
|2017|February| 23|  10|     39|
|2017|February| 25|  19|     40|
|2017| January|  4|  18|     41|
|2017|February| 16|  11|     42|
|2017|   March| 21|   6|     43|
|2017|February| 10|  14|     44|
|2017|February| 14|   8|     45|
|2017|February| 15|  18|     46|
|2017| January| 24|   2|     47|
|2017|   March|  1|  11|     48|
|2017|   March| 30|   7|     49|
|2017| January|  1|  16|     50|
|2017| January| 14|   4|     51|
|2017| January| 12|  22|     52|
|2017|February|  7|  21|     53|
|2017|February| 11|   2|     54|
|2017|February| 24|   8|     55|
|2017|   March| 16|  20|     56|
|2017| January| 30|   2|     57|
|2017|February|  6|  21|     58|
|2017|   March| 29|  15|     59|
|2017| January|  8|  16|     60|
|2017| January| 18|  13|     61|
|2017|February| 25|  21|     62|
|2017|   March| 21|  17|     63|
|2017|   March| 11|  12|     64|
|2017|   March| 24|   9|     65|
|2017| January| 13|  22|     66|
|2017|February| 15|   6|     67|
|2017|   March| 22|  12|     68|
|2017|   March| 26|  14|     69|
|2017| January|  8|   6|     70|
|2017| January| 19|  19|     71|
|2017|   April|  3|   6|     72|
|2017|   March| 31|   8|     73|
|2017|February| 25|  18|     74|
|2017| January|  8|   9|     75|
|2017| January|  9|  18|     76|
|2017| January| 19|   9|     77|
|2017|   March|  9|   1|     78|
|2017|   April| 24|  14|     79|
|2017|    June| 25|   2|     80|
|2017|     May| 16|   0|     81|
|2017|     May| 21|  13|     82|
|2017|    June| 18|  15|     83|
|2017|     May| 30|  16|     84|
|2017|     May|  8|   5|     85|
|2017|     May| 24|   9|     86|
|2017|     May| 26|   8|     87|
|2017|     May| 29|   8|     88|
|2017|    June|  3|   7|     89|
|2017|    June|  6|  10|     90|
|2017|    June| 28|  22|     91|
|2017|   April|  8|  18|     92|
|2017|     May| 22|   8|     93|
|2017|    June| 21|  16|     94|
|2017|   April| 19|   9|     95|
|2017|   April| 29|   5|     96|
|2017|    June| 11|  21|     97|
|2017|   April|  8|   8|     98|
|2017|     May| 27|  21|     99|
|2017|   April| 25|  21|    100|
+----+--------+---+----+-------+
only showing top 100 rows

In [24]:
DIM_CARD_TYPE.show(13)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+-------+
|           card_type|card_id|
+--------------------+-------+
|Visa Dankort - on-us|      1|
|  Mastercard - on-us|      2|
|         HÃƒÂ¦vekort|      3|
|            VisaPlus|      4|
|     Dankort - on-us|      5|
|        Visa Dankort|      6|
| HÃƒÂ¦vekort - on-us|      7|
|              CIRRUS|      8|
|                VISA|      9|
|             Maestro|     10|
|          MasterCard|     11|
|             Dankort|     12|
+--------------------+-------+

In [25]:
DIM_ATM.show(113)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+--------------------+--------------------+-------+-------+------+
|atm_number|atm_manufacturer|        atm_location|      atm_streetname|atm_lat|atm_lon|atm_id|
+----------+----------------+--------------------+--------------------+-------+-------+------+
|        17|             NCR|             Randers|        ÃƒËœstervold| 56.462| 10.038|     1|
|        23| Diebold Nixdorf|             Vodskov|          Vodskovvej| 57.104| 10.027|     2|
|        73|             NCR|         HÃƒÂ¸jbjerg|      Rosenvangsalle| 56.119| 10.192|     3|
|        86|             NCR|HillerÃƒÂ¸d IdrÃƒ...|          Milnersvej| 55.921| 12.299|     4|
|        18| Diebold Nixdorf|              Viborg|           Toldboden| 56.448|  9.401|     5|
|        67|             NCR|          HÃƒÂ¸jslev|      ÃƒËœsterrisvej| 56.551|   9.11|     6|
|        84|             NCR|           Svendborg|  Sankt Nicolai Gade| 55.058| 10.609|     7|
|        55|             NCR|               Arden|          Vestergade| 56.769|  9.859|     8|
|        87|             NCR|Aalborg Storcente...|            Hobrovej| 57.005|  9.876|     9|
|        81|             NCR|Spar KÃƒÂ¸bmand T...|       TornhÃƒÂ¸jvej| 57.026| 10.002|    10|
|        28|             NCR|       LÃƒÂ¸gstÃƒÂ¸r|     ÃƒËœsterbrogade| 56.967|  9.253|    11|
|        32|             NCR|          SÃƒÂ¦dding|         Tarphagevej| 55.498|  8.408|    12|
|        24|             NCR|               Hobro|            Adelgade| 56.638|  9.794|    13|
|        53|             NCR|         SÃƒÂ¦by Syd|Trafikcenter SÃƒÂ...| 57.313|  10.45|    14|
|        22|             NCR|            Roskilde|    KÃƒÂ¸benhavnsvej| 55.642| 12.106|    15|
|       102|             NCR|Aalborg Storcente...|            Hobrovej| 57.005|  9.876|    16|
|        96|             NCR|      Aalborg Hallen|        Europa Plads| 57.044|  9.913|    17|
|        35|             NCR|             Aabybro|        ÃƒËœstergade| 57.162|   9.73|    18|
|        29|             NCR|      Skelagervej 15|         Skelagervej| 57.023|  9.891|    19|
|       100|             NCR|       Intern  Skive|            Adelgade| 56.567|  9.027|    20|
|        49|             NCR|            Bindslev|         NÃƒÂ¸rrebro| 57.541|   10.2|    21|
|        36|             NCR|         HjÃƒÂ¸rring|        ÃƒËœstergade| 57.459|  9.988|    22|
|        44|             NCR|              Lyngby|         Jernbanevej| 55.772|   12.5|    23|
|        52|             NCR|            FarsÃƒÂ¸|              Torvet| 56.771|   9.34|    24|
|        33|             NCR|               Vadum|      Ellehammersvej| 57.118|  9.861|    25|
|        62| Diebold Nixdorf|            Terndrup|            Bymidten| 56.815| 10.057|    26|
|         1|             NCR|          NÃƒÂ¦stved|         Farimagsvej| 55.233| 11.763|    27|
|        82|             NCR|      Skallerup Klit|      Nordre Klitvej| 57.494|  9.838|    28|
|        93|             NCR|Intern  BrÃƒÂ¸nde...|              Algade| 57.269|  9.945|    29|
|        57|             NCR|         HillerÃƒÂ¸d|    KÃƒÂ¸benhavnsvej| 55.933| 12.314|    30|
|        99|             NCR|       Intern  Vejle|         Havneparken| 55.707|  9.541|    31|
|        56| Diebold Nixdorf|             KÃƒÂ¸ge|      SÃƒÂ¸ndre Alle| 55.454| 12.181|    32|
|        65|             NCR|           Storvorde|     VandvÃƒÂ¦rksvej| 57.005| 10.101|    33|
|        91|             NCR|         Skive Lobby|            Adelgade| 56.567|  9.027|    34|
|         6|             NCR|          Fredericia|    SjÃƒÂ¦llandsgade| 55.564|  9.757|    35|
|         8|             NCR|         GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej| 56.762|  8.867|    36|
|       106|             NCR|    Intern  Roskilde|    KÃƒÂ¸benhavnsvej| 55.642| 12.106|    37|
|         9| Diebold Nixdorf|             Hadsund|           Storegade| 56.716| 10.114|    38|
|        30|             NCR|    NykÃƒÂ¸bing Mors|         Kirketorvet| 56.795|   8.86|    39|
|        47|             NCR|       Frederiksberg|     Gammel Kongevej| 55.677| 12.537|    40|
|        72|             NCR|Daglig Brugsen Ãƒ...|           Kystvejen| 56.804| 10.271|    41|
|        60|             NCR|           Hirtshals|JÃƒÂ¸rgen Fibiger...| 57.591|  9.957|    42|
|        13|             NCR|             SÃƒÂ¦by|          Vestergade| 57.334| 10.515|    43|
|       111| Diebold Nixdorf|              Aarhus|          Ceres Byen| 56.157| 10.194|    44|
|        75|             NCR|           Nordkraft|     Kjellerups Torv| 57.047|  9.932|    45|
|         7| Diebold Nixdorf|           Hjallerup|   Hjallerup Centret| 57.168| 10.148|    46|
|        19|             NCR|             Kolding|            Vejlevej| 55.505|  9.457|    47|
|       110| Diebold Nixdorf|           HolbÃƒÂ¦k|         Slotsvolden| 55.718| 11.704|    48|
|        27|             NCR|             Herning|          Dalgasgade| 56.135|  8.971|    49|
|        74|             NCR|             Jebjerg|           Kirkegade| 56.671|  9.013|    50|
|        64|             NCR|             Horsens|     GrÃƒÂ¸nlandsvej| 55.859|  9.854|    51|
|        51|             NCR|             Gistrup|          Hadsundvej| 56.997|  9.993|    52|
|       112| Diebold Nixdorf|          NÃƒÂ¦stved|        Farimagsgade|  55.69| 12.575|    53|
|        14|             NCR|          HÃƒÂ¸rning|        NÃƒÂ¸rrealle| 56.086| 10.037|    54|
|        61|             NCR|             Esbjerg|        Strandbygade| 55.468|   8.44|    55|
|        21|             NCR|ÃƒËœsterÃƒÂ¥  MÃƒ...|        ÃƒËœsterÃƒÂ¥| 57.049|  9.922|    56|
|       107| Diebold Nixdorf|             Kolding|            Vejlevej| 55.505|  9.457|    57|
|        97|             NCR|   Intern  Hjallerup|   Hjallerup Centret| 57.168| 10.148|    58|
|        94|             NCR|       Intern Skagen|   Sct. Laurentiivej| 57.723|  10.59|    59|
|        16|             NCR|               Skive|            Adelgade| 56.567|  9.027|    60|
|        58|             NCR|         StÃƒÂ¸vring|         Baunebakken|  56.89|  9.836|    61|
|        43|             NCR|                Aars|     Himmerlandsgade| 56.803|  9.518|    62|
|        83|             NCR|                 Fur|          StenÃƒÂ¸re| 56.805|   9.02|    63|
|         3|             NCR|               Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det| 56.139|  9.154|    64|
|        10|             NCR|      NÃƒÂ¸rresundby|              Torvet| 57.059|  9.922|    65|
|        38|             NCR|            Hasseris|         Hasserisvej| 57.044|  9.898|    66|
|        40| Diebold Nixdorf|       Frederikshavn|        Danmarksgade| 57.441| 10.537|    67|
|        77|             NCR|     Aarhus Lufthavn|     Ny Lufthavnsvej| 56.308| 10.627|    68|
|       105| Diebold Nixdorf|      NÃƒÂ¸rresundby|              Torvet| 57.059|  9.922|    69|
|        98|             NCR|      Intern  Odense|        FÃƒÂ¦lledvej| 55.394|  10.37|    70|
|        11|             NCR|           Sauersvej|Fridtjof Nansens Vej| 57.023|   9.94|    71|
|       103| Diebold Nixdorf|            Vejgaard|          Hadsundvej| 57.043|   9.95|    72|
|        50|             NCR|              Aarhus|      SÃƒÂ¸nder Alle| 56.153| 10.206|    73|
|        59| Diebold Nixdorf|NykÃƒÂ¸bing Mors ...|         Kirketorvet| 56.795|   8.86|    74|
|         5|             NCR|                Nibe|              Torvet| 56.983|  9.639|    75|
|        71|             NCR|           AalbÃƒÂ¦k|          Centralvej| 57.593| 10.412|    76|
|       113| Diebold Nixdorf|            Slagelse|  Mariendals AllÃƒÂ¨| 55.398| 11.342|    77|
|        66|             NCR|         Brugsen ANS|  SÃƒÂ¸ndermarksgade| 56.306|  9.594|    78|
|       101|             NCR|      Bryggen  Vejle|    SÃƒÂ¸nderbrogade| 55.705|  9.532|    79|
|        15|             NCR|              Vestre|           Kastetvej| 57.053|  9.905|    80|
|       109| Diebold Nixdorf|         Aalborg Syd|            Hobrovej| 57.005|  9.881|    81|
|        41| Diebold Nixdorf|              Skagen|   Sct. Laurentiivej| 57.723|  10.59|    82|
|        92|             NCR| Intern  HjÃƒÂ¸rring|        ÃƒËœstergade| 57.459|  9.988|    83|
|        20|             NCR|         Bispensgade|         Bispensgade| 57.453|  9.996|    84|
|       104|             NCR|Intern  ÃƒËœsterÃƒÂ¥|        ÃƒËœsterÃƒÂ¥| 57.049|  9.922|    85|
|         4|             NCR|          Svogerslev|        BrÃƒÂ¸nsager| 55.634| 12.018|    86|
|        90|             NCR|    Intern HolbÃƒÂ¦k|         Slotsvolden| 55.718| 11.704|    87|
|        78| Diebold Nixdorf|              Nyborg|          Vestergade| 55.318| 10.781|    88|
|        85| Diebold Nixdorf|        KÃƒÂ¸benhavn|      Regnbuepladsen| 55.676| 12.571|    89|
|        69|             NCR|               Taars|            Bredgade| 57.385| 10.116|    90|
|        48| Diebold Nixdorf|      BrÃƒÂ¸nderslev|              Algade| 57.269|  9.945|    91|
|        68|             NCR|     Drive Up  Vejle|         Havneparken| 55.707|  9.541|    92|
|        37|             NCR|           Silkeborg|          Borgergade| 56.179|  9.552|    93|
|        63|             NCR|     Brugsen i Breum|       AakjÃƒÂ¦rsvej| 56.688|  9.069|    94|
|        45|             NCR|          Abildgaard|      HjÃƒÂ¸rringvej| 57.447| 10.506|    95|
|        12|             NCR|  ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥| 57.049|  9.922|    96|
|        25| Diebold Nixdorf|              Odense|        FÃƒÂ¦lledvej| 55.394|  10.37|    97|
|        39|             NCR|           Svenstrup|      GodthÃƒÂ¥bsvej| 56.973|  9.851|    98|
|        26|             NCR|           HolbÃƒÂ¦k|         Slotsvolden| 55.718| 11.704|    99|
|        79|             NCR|          Middelfart|             Brogade| 55.507|  9.727|   100|
|        80|             NCR|Menu KÃƒÂ¸bmand K...|           Klarupvej| 57.013| 10.046|   101|
|        46| Diebold Nixdorf|        HelsingÃƒÂ¸r|      Sct. Olai Gade| 56.036| 12.612|   102|
|        34|             NCR|           Skipperen|         Vestre Alle| 57.034|  9.908|   103|
|        54|             NCR|               Durup|              Torvet| 56.745|  8.949|   104|
|        31|             NCR|            Slagelse|     Mariendals Alle| 55.398| 11.342|   105|
|       108|             NCR|   HÃƒÂ¸rning Hallen|            Toftevej| 56.091| 10.033|   106|
|        70| Diebold Nixdorf|           Holstebro|         Hostrupsvej| 56.373|  8.625|   107|
|        95|             NCR|Intern  KÃƒÂ¸benhavn|    RÃƒÂ¥dhuspladsen| 55.676| 12.571|   108|
|        89|             NCR|Intern  Frederiks...|        Danmarksgade| 57.441| 10.537|   109|
|        88|             NCR|  Storcenter indg. A|            Hobrovej| 57.005|  9.876|   110|
|         2|             NCR|            Vejgaard|          Hadsundvej| 57.043|   9.95|   111|
|        42|             NCR|            Vinderup|       SÃƒÂ¸ndergade| 56.481|  8.779|   112|
|        76|             NCR|    DAYZ Feriecenter|          LivÃƒÂ¸vej| 56.893|  9.171|   113|
+----------+----------------+--------------------+--------------------+-------+-------+------+

In [26]:
DIM_LOCATION.show(109)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+--------------------+-----------------+-----------+-------+-------+-----------+
|        atm_location|      atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|location_id|
+--------------------+--------------------+-----------------+-----------+-------+-------+-----------+
|             Kolding|            Vejlevej|              135|       6000| 55.505|  9.457|          1|
|      Skelagervej 15|         Skelagervej|               15|       9000| 57.023|  9.891|          2|
|    Intern HolbÃƒÂ¦k|         Slotsvolden|                7|       4300| 55.718| 11.704|          3|
|              Odense|        FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|          4|
|               Ikast| RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|          5|
|             Randers|        ÃƒËœstervold|               16|       8900| 56.462| 10.038|          6|
|             Esbjerg|        Strandbygade|               20|       6700| 55.468|   8.44|          7|
|              Lyngby|         Jernbanevej|                6|       2800| 55.772|   12.5|          8|
|               Skive|            Adelgade|                8|       7800| 56.567|  9.027|          9|
|               Durup|              Torvet|                4|       7870| 56.745|  8.949|         10|
|             Hadsund|           Storegade|               12|       9560| 56.716| 10.114|         11|
|          NÃƒÂ¦stved|         Farimagsvej|                8|       4700| 55.233| 11.763|         12|
|               Hobro|            Adelgade|               31|       9500| 56.638|  9.794|         13|
|           Nordkraft|     Kjellerups Torv|                1|       9000| 57.047|  9.932|         14|
|            Slagelse|     Mariendals Alle|               29|       4200| 55.398| 11.342|         15|
|                Aars|     Himmerlandsgade|               70|       9600| 56.803|  9.518|         16|
|                 Fur|          StenÃƒÂ¸re|               19|       7884| 56.805|   9.02|         17|
|            Hasseris|         Hasserisvej|              113|       9000| 57.044|  9.898|         18|
|             SÃƒÂ¦by|          Vestergade|                3|       9300| 57.334| 10.515|         19|
|        HelsingÃƒÂ¸r|      Sct. Olai Gade|               39|       3000| 56.036| 12.612|         20|
|         Brugsen ANS|  SÃƒÂ¸ndermarksgade|               14|       8643| 56.306|  9.594|         21|
|           Silkeborg|          Borgergade|               36|       8600| 56.179|  9.552|         22|
|            Terndrup|            Bymidten|                2|       9575| 56.815| 10.057|         23|
|           HolbÃƒÂ¦k|         Slotsvolden|                7|       4300| 55.718| 11.704|         24|
|    DAYZ Feriecenter|          LivÃƒÂ¸vej|               80|       9681| 56.893|  9.171|         25|
|           Svendborg|  Sankt Nicolai Gade|                1|       5700| 55.058| 10.609|         26|
|    NykÃƒÂ¸bing Mors|         Kirketorvet|                1|       7900| 56.795|   8.86|         27|
|            Slagelse|  Mariendals AllÃƒÂ¨|               29|       4200| 55.398| 11.342|         28|
|         SÃƒÂ¦by Syd|Trafikcenter SÃƒÂ...|                1|       9300| 57.313|  10.45|         29|
|             Gistrup|          Hadsundvej|              346|       9260| 56.997|  9.993|         30|
|Menu KÃƒÂ¸bmand K...|           Klarupvej|               52|       9270| 57.013| 10.046|         31|
|              Aarhus|      SÃƒÂ¸nder Alle|               11|       8000| 56.153| 10.206|         32|
|           Sauersvej|Fridtjof Nansens Vej|                2|       9210| 57.023|   9.94|         33|
|       LÃƒÂ¸gstÃƒÂ¸r|     ÃƒËœsterbrogade|                8|       9670| 56.967|  9.253|         34|
|Aalborg Storcente...|            Hobrovej|              452|       9200| 57.005|  9.876|         35|
|Aalborg Storcente...|            Hobrovej|              452|       9200| 57.005|  9.876|         36|
|         Bispensgade|         Bispensgade|               35|       9800| 57.453|  9.996|         37|
|            Vejgaard|          Hadsundvej|               20|       9000| 57.043|   9.95|         38|
|        KÃƒÂ¸benhavn|      Regnbuepladsen|                5|       1550| 55.676| 12.571|         39|
|Intern  KÃƒÂ¸benhavn|    RÃƒÂ¥dhuspladsen|               75|       1550| 55.676| 12.571|         40|
|              Viborg|           Toldboden|                3|       8800| 56.448|  9.401|         41|
|             Aabybro|        ÃƒËœstergade|                6|       9440| 57.162|   9.73|         42|
|          Middelfart|             Brogade|                9|       5500| 55.507|  9.727|         43|
|          HÃƒÂ¸jslev|      ÃƒËœsterrisvej|                2|       7840| 56.551|   9.11|         44|
|               Arden|          Vestergade|                6|       9510| 56.769|  9.859|         45|
|         HillerÃƒÂ¸d|    KÃƒÂ¸benhavnsvej|               31|       3400| 55.933| 12.314|         46|
|            FarsÃƒÂ¸|              Torvet|                8|       9640| 56.771|   9.34|         47|
|             KÃƒÂ¸ge|      SÃƒÂ¸ndre Alle|                1|       4600| 55.454| 12.181|         48|
|       Frederiksberg|     Gammel Kongevej|              157|       1850| 55.677| 12.537|         49|
|  Storcenter indg. A|            Hobrovej|              452|       9200| 57.005|  9.876|         50|
|         HjÃƒÂ¸rring|        ÃƒËœstergade|                8|       9800| 57.459|  9.988|         51|
|          NÃƒÂ¦stved|        Farimagsgade|                8|       4700|  55.69| 12.575|         52|
|          Svogerslev|        BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|         53|
|      Skallerup Klit|      Nordre Klitvej|               21|       9800| 57.494|  9.838|         54|
|     Drive Up  Vejle|         Havneparken|                4|       7100| 55.707|  9.541|         55|
|ÃƒËœsterÃƒÂ¥  MÃƒ...|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|         56|
|           Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|         57|
|NykÃƒÂ¸bing Mors ...|         Kirketorvet|                1|       7900| 56.795|   8.86|         58|
|Intern  Frederiks...|        Danmarksgade|               48|       9900| 57.441| 10.537|         59|
|      Intern  Odense|        FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|         60|
|          HÃƒÂ¸rning|        NÃƒÂ¸rrealle|               12|       8362| 56.086| 10.037|         61|
| Intern  HjÃƒÂ¸rring|        ÃƒËœstergade|                8|       9800| 57.459|  9.988|         62|
|               Vadum|      Ellehammersvej|               43|       9430| 57.118|  9.861|         63|
|          Fredericia|    SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|         64|
|     Aarhus Lufthavn|     Ny Lufthavnsvej|               24|       8560| 56.308| 10.627|         65|
|             Vodskov|          Vodskovvej|               27|       9310| 57.104| 10.027|         66|
|         Skive Lobby|            Adelgade|                8|       7800| 56.567|  9.027|         67|
|             Jebjerg|           Kirkegade|                4|       7870| 56.671|  9.013|         68|
|          Abildgaard|      HjÃƒÂ¸rringvej|              144|       9900| 57.447| 10.506|         69|
|  ÃƒËœsterÃƒÂ¥  Duus|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|         70|
|           Hirtshals|JÃƒÂ¸rgen Fibiger...|                4|       9850| 57.591|  9.957|         71|
|      Bryggen  Vejle|    SÃƒÂ¸nderbrogade|                2|       7100| 55.705|  9.532|         72|
|       Intern  Skive|            Adelgade|                8|       7800| 56.567|  9.027|         73|
|              Skagen|   Sct. Laurentiivej|               36|       9990| 57.723|  10.59|         74|
|           Skipperen|         Vestre Alle|                2|       9000| 57.034|  9.908|         75|
|   Intern  Hjallerup|   Hjallerup Centret|               18|       9320| 57.168| 10.148|         76|
|       Intern  Vejle|         Havneparken|                4|       7100| 55.707|  9.541|         77|
|            Roskilde|    KÃƒÂ¸benhavnsvej|               65|       4000| 55.642| 12.106|         78|
|      BrÃƒÂ¸nderslev|              Algade|                4|       9700| 57.269|  9.945|         79|
|           Holstebro|         Hostrupsvej|                6|       7500| 56.373|  8.625|         80|
|              Nyborg|          Vestergade|               35|       5800| 55.318| 10.781|         81|
|Spar KÃƒÂ¸bmand T...|       TornhÃƒÂ¸jvej|                4|       9220| 57.026| 10.002|         82|
|Intern  ÃƒËœsterÃƒÂ¥|        ÃƒËœsterÃƒÂ¥|               12|       9000| 57.049|  9.922|         83|
|     Brugsen i Breum|       AakjÃƒÂ¦rsvej|                1|       7870| 56.688|  9.069|         84|
|              Aarhus|          Ceres Byen|               75|       8000| 56.157| 10.194|         85|
|         HÃƒÂ¸jbjerg|      Rosenvangsalle|              194|       8270| 56.119| 10.192|         86|
|       Frederikshavn|        Danmarksgade|               48|       9900| 57.441| 10.537|         87|
|      Aalborg Hallen|        Europa Plads|                4|       9000| 57.044|  9.913|         88|
|           Storvorde|     VandvÃƒÂ¦rksvej|                2|       9280| 57.005| 10.101|         89|
|    Intern  Roskilde|    KÃƒÂ¸benhavnsvej|               65|       4000| 55.642| 12.106|         90|
|          SÃƒÂ¦dding|         Tarphagevej|               59|       6710| 55.498|  8.408|         91|
|               Taars|            Bredgade|               91|       9830| 57.385| 10.116|         92|
|   HÃƒÂ¸rning Hallen|            Toftevej|               53|       8362| 56.091| 10.033|         93|
|         GlyngÃƒÂ¸re|         FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|         94|
|           Svenstrup|      GodthÃƒÂ¥bsvej|               14|       9230| 56.973|  9.851|         95|
|      NÃƒÂ¸rresundby|              Torvet|                6|       9400| 57.059|  9.922|         96|
|            Vinderup|       SÃƒÂ¸ndergade|                5|       7830| 56.481|  8.779|         97|
|              Vestre|           Kastetvej|               36|       9000| 57.053|  9.905|         98|
|                Nibe|              Torvet|                1|       9240| 56.983|  9.639|         99|
|             Herning|          Dalgasgade|               30|       7400| 56.135|  8.971|        100|
|           AalbÃƒÂ¦k|          Centralvej|                5|       9982| 57.593| 10.412|        101|
|         Aalborg Syd|            Hobrovej|              440|       9200| 57.005|  9.881|        102|
|             Horsens|     GrÃƒÂ¸nlandsvej|                5|       8700| 55.859|  9.854|        103|
|            Bindslev|         NÃƒÂ¸rrebro|               18|       9881| 57.541|   10.2|        104|
|HillerÃƒÂ¸d IdrÃƒ...|          Milnersvej|               39|       3400| 55.921| 12.299|        105|
|Daglig Brugsen Ãƒ...|           Kystvejen|               51|       9560| 56.804| 10.271|        106|
|         StÃƒÂ¸vring|         Baunebakken|                4|       9530|  56.89|  9.836|        107|
|Intern  BrÃƒÂ¸nde...|              Algade|                4|       9700| 57.269|  9.945|        108|
|       Intern Skagen|   Sct. Laurentiivej|               36|       9990| 57.723|  10.59|        109|
+--------------------+--------------------+-----------------+-----------+-------+-------+-----------+

In [27]:
FACT_ATM_TRANS.show(10)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+------------------+----------+----------------+--------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
|year|  month|day|hour|         card_type|atm_number|atm_manufacturer|  atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main| weather_description|trans_id|
+----+-------+---+----+------------------+----------+----------------+--------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
|2017|January|  1|   0|        MasterCard|         2|             NCR|      Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1764|        null|        null|   0.59|        92|       500|        Rain|          light rain|       1|
|2017|January|  1|   0|              VISA|         2|             NCR|      Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1891|        null|        null|   0.59|        92|       500|        Rain|          light rain|       2|
|2017|January|  1|   0|              VISA|         3|             NCR|         Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|  Inactive|     DKK|Withdrawal|              4166|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|       3|
|2017|January|  1|   0|        MasterCard|         4|             NCR|    Svogerslev|       BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|    Active|     DKK|Withdrawal|              5153|        null|        null|    0.0|        88|       701|        Mist|                mist|       4|
|2017|January|  1|   0|        MasterCard|         5|             NCR|          Nibe|             Torvet|                1|       9240| 56.983|  9.639|    Active|     DKK|Withdrawal|              3269|        null|        null|   0.59|        92|       500|        Rain|          light rain|       5|
|2017|January|  1|   0|        MasterCard|         6|             NCR|    Fredericia|   SjÃƒÂ¦llandsgade|               33|       7000| 55.564|  9.757|    Active|     DKK|Withdrawal|               887|        null|        null|   0.29|        92|       500|        Rain|          light rain|       6|
|2017|January|  1|   0|Mastercard - on-us|         7| Diebold Nixdorf|     Hjallerup|  Hjallerup Centret|               18|       9320| 57.168| 10.148|    Active|     DKK|Withdrawal|              4626|        null|        null|   0.59|        92|       500|        Rain|          light rain|       7|
|2017|January|  1|   0|        MasterCard|         8|             NCR|   GlyngÃƒÂ¸re|        FÃƒÂ¦rgevej|                1|       7870| 56.762|  8.867|    Active|     DKK|Withdrawal|               470|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|       8|
|2017|January|  1|   0|              VISA|         9| Diebold Nixdorf|       Hadsund|          Storegade|               12|       9560| 56.716| 10.114|    Active|     DKK|Withdrawal|              8473|        null|        null|   0.59|        92|       500|        Rain|          light rain|       9|
|2017|January|  1|   0|           Dankort|        10|             NCR|NÃƒÂ¸rresundby|             Torvet|                6|       9400| 57.059|  9.922|    Active|     DKK|Withdrawal|               953|        null|        null|   0.59|        92|       500|        Rain|          light rain|      10|
+----+-------+---+----+------------------+----------+----------------+--------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
only showing top 10 rows

In [61]:
### Create TimeStamp in Date Dimention Table from year,month,date and hour
from pyspark.sql.functions import *
from pyspark.sql import functions as func
### Convert month into numeric format
DIM_DATE=DIM_DATE.withColumn("month",from_unixtime(unix_timestamp(col("month"),'MMM'),'MM'))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [48]:
DIM_DATE.show(5)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+-------+
|year|month|day|hour|date_id|
+----+-----+---+----+-------+
|2017|   01| 23|   2|      1|
|2017|   02| 26|   8|      2|
|2017|   03| 12|  13|      3|
|2017|   03| 14|  21|      4|
|2017|   03| 21|   7|      5|
+----+-----+---+----+-------+
only showing top 5 rows

In [62]:
##create date field from year,month,day
cols=["year","month","day"]
DIM_DATE=DIM_DATE.withColumn("date",concat_ws("-",*cols).cast("date"))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [50]:
DIM_DATE.show(5)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+-------+----------+
|year|month|day|hour|date_id|      date|
+----+-----+---+----+-------+----------+
|2017|   01| 23|   2|      1|2017-01-23|
|2017|   02| 26|   8|      2|2017-02-26|
|2017|   03| 12|  13|      3|2017-03-12|
|2017|   03| 14|  21|      4|2017-03-14|
|2017|   03| 21|   7|      5|2017-03-21|
+----+-----+---+----+-------+----------+
only showing top 5 rows

In [63]:
### Create full_date_time from date and hour 
DIM_DATE=DIM_DATE.withColumn("full_date_time",func.date_format(func.to_timestamp(func.concat("date","hour"),"yyyy-MM-ddHH"),"yyyy-MM-dd hh:ss:SSa"))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [52]:
DIM_DATE.show(3)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+-------+----------+--------------------+
|year|month|day|hour|date_id|      date|      full_date_time|
+----+-----+---+----+-------+----------+--------------------+
|2017|   01| 23|   2|      1|2017-01-23|2017-01-23 02:00:...|
|2017|   02| 26|   8|      2|2017-02-26|2017-02-26 08:00:...|
|2017|   03| 12|  13|      3|2017-03-12|2017-03-12 01:00:...|
+----+-----+---+----+-------+----------+--------------------+
only showing top 3 rows

In [64]:
###revert the month from numeric back to string
DIM_DATE=DIM_DATE.withColumn("month",from_unixtime(unix_timestamp(col("month"),'MM'),'MMM'))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [54]:
DIM_DATE.show(3)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+-------+----------+--------------------+
|year|month|day|hour|date_id|      date|      full_date_time|
+----+-----+---+----+-------+----------+--------------------+
|2017|  Jan| 23|   2|      1|2017-01-23|2017-01-23 02:00:...|
|2017|  Feb| 26|   8|      2|2017-02-26|2017-02-26 08:00:...|
|2017|  Mar| 12|  13|      3|2017-03-12|2017-03-12 01:00:...|
+----+-----+---+----+-------+----------+--------------------+
only showing top 3 rows

In [65]:
##cast as timestamptype
DIM_DATE=DIM_DATE.withColumn('full_date_time',func.unix_timestamp('full_date_time','yyyy-MM-dd HH:mm:ss').cast(TimestampType()))

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [66]:
DIM_DATE.show(3)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+--------+-------+----------+-------------------+
|year|month|day|hour| weekday|date_id|      date|     full_date_time|
+----+-----+---+----+--------+-------+----------+-------------------+
|2017|  Jan|  5|  21|Thursday|      1|2017-01-05|2017-01-05 09:00:00|
|2017|  Jan| 22|  15|  Sunday|      2|2017-01-22|2017-01-22 03:00:00|
|2017|  Apr|  7|   9|  Friday|      3|2017-04-07|2017-04-07 09:00:00|
+----+-----+---+----+--------+-------+----------+-------------------+
only showing top 3 rows

In [57]:
### Perform the same transformation on FACT_ATM_TRANS as in DIM_DATE for the upcoming join function
### Needed because in DIM_DATE the transformation is Jaunary ---> 01 ---> Jan
FACT_ATM_TRANS=FACT_ATM_TRANS.withColumn("month",from_unixtime(unix_timestamp(col("month"),'MMM'),'MM'))
FACT_ATM_TRANS=FACT_ATM_TRANS.withColumn("month",from_unixtime(unix_timestamp(col("month"),'MM'),'MMM'))
FACT_ATM_TRANS.show(3)

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
|year|month|day|hour| card_type|atm_number|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main| weather_description|trans_id|
+----+-----+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
|2017|  Jan|  1|   0|MasterCard|         2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1764|        null|        null|   0.59|        92|       500|        Rain|          light rain|       1|
|2017|  Jan|  1|   0|      VISA|         2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1891|        null|        null|   0.59|        92|       500|        Rain|          light rain|       2|
|2017|  Jan|  1|   0|      VISA|         3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|  Inactive|     DKK|Withdrawal|              4166|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|       3|
+----+-----+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+
only showing top 3 rows

In [67]:
### REARRANGING COLUMNS [ Dimensions Table]
DIM_DATE = DIM_DATE.select("date_id","full_date_time","year","month","day","hour","weekday")
DIM_CARD_TYPE = DIM_CARD_TYPE.select("card_id","card_type")
DIM_ATM = DIM_ATM.select("atm_id","atm_number","atm_manufacturer","atm_location","atm_streetname","atm_lat","atm_lon")
DIM_LOCATION = DIM_LOCATION.select("location_id","atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [68]:
### Perform join to import *_id's to FACT_ATM_TRANS
FACT_ATM_TRANS=FACT_ATM_TRANS.join(DIM_DATE,on=['year','month','day','hour'],how="left")
FACT_ATM_TRANS.show(3)
FACT_ATM_TRANS=FACT_ATM_TRANS.join(DIM_CARD_TYPE,on=['card_type'],how="left")
FACT_ATM_TRANS=FACT_ATM_TRANS.join(DIM_ATM,on=['atm_number','atm_manufacturer'],how="left")
FACT_ATM_TRANS=FACT_ATM_TRANS.join(DIM_LOCATION,on=['atm_location','atm_streetname','atm_lat','atm_lon'],how="left")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+-------+--------------+-------+
|year|  month|day|hour| card_type|atm_number|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|atm_status|currency|   service|transaction_amount|message_code|message_text|rain_3h|clouds_all|weather_id|weather_main| weather_description|trans_id|date_id|full_date_time|weekday|
+----+-------+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+-------+--------------+-------+
|2017|January|  1|   0|MasterCard|         2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1764|        null|        null|   0.59|        92|       500|        Rain|          light rain|       1|   null|          null|   null|
|2017|January|  1|   0|      VISA|         2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|  Inactive|     DKK|Withdrawal|              1891|        null|        null|   0.59|        92|       500|        Rain|          light rain|       2|   null|          null|   null|
|2017|January|  1|   0|      VISA|         3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|  Inactive|     DKK|Withdrawal|              4166|        null|        null|    0.0|        75|       300|     Drizzle|light intensity d...|       3|   null|          null|   null|
+----+-------+---+----+----------+----------+----------------+------------+-------------------+-----------------+-----------+-------+-------+----------+--------+----------+------------------+------------+------------+-------+----------+----------+------------+--------------------+--------+-------+--------------+-------+
only showing top 3 rows

In [69]:
FACT_ATM_TRANS.drop("year","month","day","hour","card_type","atm_number","atm_manufacturer","atm_location","atm_streetname","atm_street_number","atm_zipcode","atm_lat","atm_lon")
###Rearranging Fact table and rename columns per target schema
FACT_ATM_TRANS = FACT_ATM_TRANS.select("trans_id","atm_id","location_id","date_id","card_id","atm_status","currency","service","transaction_amount","message_code","message_text","rain_3h","clouds_all","weather_id","weather_main","weather_description")
FACT_ATM_TRANS = FACT_ATM_TRANS.withColumnRenamed("location_id","weather_loc_id")
FACT_ATM_TRANS = FACT_ATM_TRANS.withColumnRenamed("card_id","card_type_id")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [73]:
DIM_CARD_TYPE = DIM_CARD_TYPE.withColumnRenamed("card_id","card_type_id")
DIM_LOCATION = DIM_LOCATION.withColumnRenamed("atm_street_number","street_number")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [70]:
### Perform join to import location_id to DIM_ATM
DIM_ATM=DIM_ATM.join(DIM_LOCATION,on=['atm_location','atm_streetname','atm_lat','atm_lon'],how="left")
DIM_ATM=DIM_ATM.select("atm_id","atm_number","atm_manufacturer","location_id")
DIM_ATM=DIM_ATM.withColumnRenamed("location_id","atm_location_id")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [71]:
### Rename according to target schema
DIM_LOCATION=DIM_LOCATION.withColumnRenamed("atm_location","location")
DIM_LOCATION=DIM_LOCATION.withColumnRenamed("atm_streetname","streetname")
DIM_LOCATION=DIM_LOCATION.withColumnRenamed("atm_zipcode","zipcode")
DIM_LOCATION=DIM_LOCATION.withColumnRenamed("atm_lat","lat")
DIM_LOCATION=DIM_LOCATION.withColumnRenamed("atm_lon","lon")

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [74]:
### Verify the columns - per target schema
DIM_DATE.printSchema()
DIM_ATM.printSchema()
DIM_LOCATION.printSchema()
DIM_CARD_TYPE.printSchema()
FACT_ATM_TRANS.printSchema()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- date_id: integer (nullable = true)
 |-- full_date_time: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- weekday: string (nullable = true)

root
 |-- atm_id: integer (nullable = true)
 |-- atm_number: string (nullable = true)
 |-- atm_manufacturer: string (nullable = true)
 |-- atm_location_id: integer (nullable = true)

root
 |-- location_id: integer (nullable = true)
 |-- location: string (nullable = true)
 |-- streetname: string (nullable = true)
 |-- street_number: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)

root
 |-- card_type_id: integer (nullable = true)
 |-- card_type: string (nullable = true)

root
 |-- trans_id: integer (nullable = true)
 |-- atm_id: integer (nullable = true)
 |-- weather_loc_id: integer (nullable = true)
 |-- date_id: integer (nullable = true)
 |-- card_type_id: integer (nullable = true)
 |-- atm_status: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- service: string (nullable = true)
 |-- transaction_amount: integer (nullable = true)
 |-- message_code: string (nullable = true)
 |-- message_text: string (nullable = true)
 |-- rain_3h: double (nullable = true)
 |-- clouds_all: integer (nullable = true)
 |-- weather_id: integer (nullable = true)
 |-- weather_main: string (nullable = true)
 |-- weather_description: string (nullable = true)

In [75]:
### validating final counts 
DIM_DATE.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

8685

In [76]:
DIM_ATM.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

113

In [77]:
DIM_LOCATION.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

109

In [78]:
DIM_CARD_TYPE.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

12

In [79]:
FACT_ATM_TRANS.count()

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468571

In [81]:
##writing to s3. Bucket should be created in advance of running this function
DIM_CARD_TYPE.write.csv('s3a://upgrad-etlproject-vinay/dim_card_type/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error occurred while calling o1114.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 932, in csv
    self._jwrite.csv(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1114.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

In [82]:
DIM_LOCATION.write.csv('s3a://upgrad-etlproject-vinay/dim_location/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error occurred while calling o1155.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 932, in csv
    self._jwrite.csv(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1155.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

In [83]:
DIM_ATM.write.csv('s3a://upgrad-etlproject-vinay/dim_atm/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error occurred while calling o1196.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 932, in csv
    self._jwrite.csv(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1196.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

In [84]:
DIM_DATE.write.csv('s3a://upgrad-etlproject-vinay/dim_date/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error occurred while calling o1237.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 932, in csv
    self._jwrite.csv(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1237.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

In [85]:
FACT_ATM_TRANS.write.csv('s3a://upgrad-etlproject-vinay/fact_atm_trans/')

VBox()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error occurred while calling o1278.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more

Traceback (most recent call last):
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/readwriter.py", line 932, in csv
    self._jwrite.csv(path)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/usr/lib/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 328, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o1278.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:165)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:173)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:197)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:194)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:169)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:114)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:112)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$executeQuery$1(SQLExecution.scala:83)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1$$anonfun$apply$1.apply(SQLExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecutionMetrics$.withMetrics(QueryExecutionMetrics.scala:141)
	at org.apache.spark.sql.execution.SQLExecution$.org$apache$spark$sql$execution$SQLExecution$$withMetrics(SQLExecution.scala:178)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:93)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:200)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:92)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)
Caused by: org.apache.hadoop.util.DiskChecker$DiskErrorException: No space available in any of the local directories.
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.getLocalPathForWrite(LocalDirAllocator.java:399)
	at org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext.createTmpFileForWrite(LocalDirAllocator.java:460)
	at org.apache.hadoop.fs.LocalDirAllocator.createTmpFileForWrite(LocalDirAllocator.java:199)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.createTmpFileForWrite(S3AFileSystem.java:412)
	at org.apache.hadoop.fs.s3a.S3AOutputStream.<init>(S3AOutputStream.java:67)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.create(S3AFileSystem.java:591)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:932)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:913)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:810)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:799)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:422)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:360)
	at org.apache.hadoop.mapreduce.lib.output.DirectFileOutputCommitter.commitJob(DirectFileOutputCommitter.java:111)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:126)
	at org.apache.spark.sql.execution.datasources.SQLEmrOptimizedCommitProtocol.commitJob(SQLEmrOptimizedCommitProtocol.scala:121)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:187)
	... 37 more